<div class="container">


  <div class="container text-center" style="margin: 309x">
    <h3>SISTEMA DE INVENTARIOS</h3>
  </div>
  <div>
    <!-- <form class="d-flex" role="search">
      <label >Buscar:</label>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button (click)="buscarProductoPorDescripcion(producto.descripcion)"class="btn btn-outline-success" type="submit">Buscar</button>
    </form> -->
    <div>
      <h2>Lista de datos de la tabla:</h2>
      <!-- <ul>
        <li *ngFor="let dato of productos">{{ dato.descripcion }}</li>
      </ul> -->

      <label for="inputNombre">Selecciona un dato:</label>
      <select id="inputNombre" [(ngModel)]="descripcion">
        <option *ngFor="let dato of productos" [value]="dato.descripcion">{{ dato.descripcion }}</option>
      </select>

      <p>Dato seleccionado: {{ descripcion }}
        <button (click)="buscarProductoPorDescripcion(descripcion)" class="btn btn-info btn-sm me-3">Buscar</button>
        <a href="admin" class="btn btn-danger btn-sm">Regresar</a>
      </p>
    </div>

  </div>

  <table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Estado</th>
        <th scope="col">Codigo</th>
        <th scope="col">Referencia</th>
        <th scope="col">Existencias</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoria</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <th scope="row">{{producto.idProducto}}</th>
        <td>{{producto.activo}}</td>
        <td>{{producto.codigo}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.existencia}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.categoria}}</td>
        <td class="text-center">
          <div>
            <button (click)="editarProducto(producto.idProducto)" class="btn btn-info btn-sm me-3">Editar</button>
            <button (click)="eliminarProducto(producto.idProducto)" class="btn btn-danger btn-sm me-3">Eliminar</button>
          </div>
        </td>

      </tr>

    </tbody>

  </table>
</div>
