<mat-card class="mt10" *ngFor = "let e of productos">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
       Codigo del Producto => {{ e.codigo }}
      </mat-card-title>
      <mat-card-title>
        Descripción del producto => {{ e.descripcion }}
       </mat-card-title>
       <br/>
      <mat-card-subtitle>
       Categoria => {{ e.categoria.codigo }}
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" class="ml20">Existencia {{ e.existencia }}</button>
      <button mat-stroked-button color="primary" class="ml20">Precio {{ e.precio }}</button>
      <button mat-flat-button color="warn" class="ml10" (click) = "eliminarProducto(e.productoId)">Eliminar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<div class="container text-center mt20">
  <button routerLink="/admin/productos" mat-raised-button color="primary">Regresar</button>

  <button routerLink="/admin/buscar-producto" mat-flat-button color="accent" class="ml10" >Buscar</button>
</div>

