

<div class="container d-flex justify-content-center" style = "margin-top : 70px;">
  <div class="card">

    <div class = "container text-center my-4">
        <img src="../../../assets/login.png" width = "100" height = "100">
      </div>

      <div class="card-header">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link fw-bold" routerLink="/login">Iniciar Sesión</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active fw-bold" routerLink="/sendemail">Olvidé mi Contraseña</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="/signup">Crear Cuenta</a>
            </li>

          </ul>
      </div>

      <div class="card-body">
          <form novalidate>


              <div class="form-group">

                <mat-form-field class = "full-width fw-bold"  appearance = "outline">
                  <mat-label>Nombre de usuario</mat-label>
                  <input name = "username" required  matInput placeholder="Digite su nombre de usuario">
                  <mat-hint>El nombre de usuario debe ser valido</mat-hint>
                </mat-form-field>

                <mat-form-field class="full-width fw-bold"  appearance = "outline">

                  <mat-form-field>
                    <mat-label>Pregunta Secreta</mat-label>
                    <mat-select required [(value)]="preguntaSecr" name="preguntaSecreta">
                      <mat-option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-form-field>
              </div>

              <div class="form-group">

                <input type="password" name="respuestaSecreta" id="respuestaSecreta" class="form-control fw-bold"
                     placeholder="Respuesta Secreta" required>
            </div>

            <div class = "container text-center">
              <button type = "submit" mat-raised-button color="primary"  >Iniciar sesión</button>
              <button type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
            </div>
          </form>
      </div>
  </div>
</div>
