<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mt20">
          <mat-card-header>
            <mat-card-title>
              Lea las instrucciones de su compra
            </mat-card-title>
          </mat-card-header>
          <mat-card-subtitle>Ya estamos cerca</mat-card-subtitle>
          <mat-card-content class="ml30">
            <h1>{{ producto.codigo }}</h1>
            <p>{{ producto.descripcion }}</p>
            <mat-divider></mat-divider>
          <br>
          <h1>Instrucciones importantes</h1>

          <ul>
            <li>Recuerde estar seguro de su compra</li>
            <li>Le informamos que una vez hecha su compra, el sistema tarda <b>{{ producto.existencia * 2 }} minutos</b> en reflejarnos su compra</li>
            <li>Toda compra tiene garantía y se genera factura</li>
            <li>Por tu compra te daremos un bono de <b>{{ producto.existencia+producto.precio/100 | currency }} para redimir en nuestra tienda</b></li>
          </ul>
          <mat-divider></mat-divider>
          <br>
          <h1>Compras TECSTORE</h1>
          <ul>
            <li>Presione el boton <b>COMPRAR</b> para iniciar su compra</li>
            <li>En ese instante empezará su compra</li>
            <li>Por favor no se salga hasta no estar seguro de su compra</li>
            <li>Haga clic en el botón <b>LISTO</b> para realizar tu compra</li>
            <li>El informe de la compra se genera automáticamente en forma de copia PDF</li>
          </ul>
        </mat-card-content>
        <mat-card-actions class="text-center mb20">
          <button (click) = "empezarExamen()" mat-raised-button color="primary">
            ¡¡IR!!
          </button>
        </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

