<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-12 offset-md-0">
        <div class="container">
          <br />
          <br />

          <!-- fila 1 -->
          <div class="row">
            <div class="col-sm-12 lh-base">
              <!-- tamaño pequeño y primer tamaño -->
              <!-- tamaño predeterminado cuando es pequeño -->

              <h1>¡Bienvenido a TecStore!</h1>
              <p>
                El lugar donde la innovación y la tecnología convergen para
                crear una experiencia única! Entra y descubre el fascinante
                mundo de los dispositivos más avanzados, las tendencias más
                recientes y las soluciones tecnológicas más emocionantes. En
                TecStore, no solo vendemos productos, sino que ofrecemos un
                viaje hacia el futuro de la tecnología. Estamos emocionados de
                tenerte aquí y ser parte de tu búsqueda de lo último en
                innovación.
              </p>
            </div>
          </div>

          <br />
          <br />
          <br />

          <!-- Fila 2 -->
          <div class="row">
            <div class="col-sm-12 col-md-6 lh-base">
              <!-- segundo tamaño para table -->

              <h1>Oferta Especial de Bienvenida</h1>
              <p>
                Para agradecerte por elegirnos, queremos hacer tu primera
                experiencia en TecStore sea aún más especial. Regístrate ahora y
                disfruta de un descuento exclusivo del 10% en tu primera compra.
                Pero eso no es todo; con tu primera compra, recibirás un regalo
                especial: unos auriculares Bluetooth de alta calidad. Es nuestra
                forma de darte la bienvenida a la familia TecStore. <br>  ¡No pierdas
                la oportunidad de comenzar tu viaje tecnológico con ventajas
                exclusivas!
              </p>
            </div>

            <div class="col-sm-12 col-md-6 lh-base">
              <!-- segundo tamaño para table -->

              <img
                src="../../../assets/ventas-cyber-monday-shopping.jpg"
                class="img-thumbnail"
                alt="..."
              />

              <!-- <h1>Libreria Bootstrap</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Blanditiis distinctio, asperiores, necessitatibus voluptatem
                illo omnis officiis doloremque aut fugiat animi tempore,
                perferendis deleniti delectus consectetur impedit veritatis
                possimus ipsum minus!
              </p> -->
            </div>

          </div>

          <br />
          <br />
          <br />
          <br />
          <!-- ejemplo creado por nosotros -->
          <!-- debemos agregar 4 colunmas en la segunda fila -->
          <!-- fila 3 -->

          <div class="row">
            <!-- columna numero 1 -->
            <div class="col-sm-12 col-md-4 lh-base">
              <h1>Destacar Categorías Principales</h1>
              <p>
                Explora nuestras categorías, desde smartphones y laptops hasta gadgets inteligentes. Descubre las últimas novedades y encuentra productos que se adaptan a tu estilo de vida tecnológico.
              </p>
            </div>

            <!-- columna numero 2 -->
            <div class="col-sm-12 col-md-4 lh-base">
              <h1>Elementos Visuales Atractivos</h1>
              <p>
                Nuestra galería visual captura la esencia de la innovación. Echa un vistazo a imágenes deslumbrantes de productos de alta calidad que te esperan en TecStore.
              </p>
            </div>

            <div class="col-sm-12 col-md-4 lh-base">
              <h1>Historia de la Tienda</h1>
              <p>
                Desde 2010, TecStore comparte la pasión por la tecnología. Cada producto cuenta una historia de calidad y rendimiento. Únete a nosotros y descubre el viaje tecnológico que ofrecemos.
              </p>
            </div>

            <div class="col-sm-12">

              <img
                src="../../../assets/mujer-eligiendo-auriculares-tienda.jpg"
                class="img-thumbnail"
                alt="..."
              />

            </div>

          </div>

          <br>
          <br>
          <br>
          <br>

          <!-- fila 4 -->
          <div class="row">
            <!-- columna numero 3 -->
            <div class="col-sm-12 col-md-6 lh-base">
              <h1>Llamado a la Acción (CTA)</h1>
              <p>
                Tu viaje tecnológico comienza aquí. ¡Explora ahora y descubre un mundo de posibilidades! Haz clic en 'Explora Ahora' y sumérgete en nuestra selección cuidadosamente curada de productos. ¿Listo para experimentar lo último en tecnología? Haz clic en 'Descubre las Ofertas' y encuentra tu próximo dispositivo favorito. TechLand es más que una tienda; es una experiencia. Únete a nosotros y descubre la diferencia.
              </p>
            </div>

            <!-- columna numero 4 -->
            <div class="col-sm-12 col-md-6 lh-base">
              <h1>Páginas Clave</h1>
              <p>
                ¿Buscas algo en particular? Navega por nuestras categorías para encontrar exactamente lo que necesitas. Desde <span>Smartphones</span> hasta <span>Laptops</span> y <span>Gadgets</span>, estamos seguros de que encontrarás productos que se ajusten a tus necesidades. Simplificamos tu búsqueda para que encuentres lo que buscas de manera rápida y sencilla.
              </p>
            </div>
          </div>

          <br><br><br><br>
           
          <div class="row lh-base">
            <div class="col-sm-12">
              <h1>Información de Contacto y Soporte</h1>
              <p>
                En TechLand, el servicio al cliente es una prioridad. Si tienes alguna pregunta, comentario o necesitas asistencia, estamos aquí para ayudarte. Puedes ponerte en contacto con nosotros enviando un correo electrónico a info@TecStore.com o llamando a nuestro equipo de soporte al [numero telefonico]. Tu satisfacción es nuestra misión, y estamos comprometidos a brindarte el mejor servicio en cada paso de tu experiencia de compra.
              </p>
            </div>
          </div>


          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <!-- Fila 3 -->
          <!-- esta tercera fila es para mostrar el tamaño largo -->
          <!-- siempre que utilizamos varios tamaños tenemos que estar pendiente de los tamaños que la suma final nos de 12 eso quiere decir que lo modifica todo -->

          <!-- <div class="row">
  
              <div class="col-sm-12 col-md-4 col-lg-6">
  
                  <h1>Libreria Bootstrap</h1>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis distinctio, asperiores, necessitatibus voluptatem illo omnis officiis doloremque aut fugiat animi tempore, perferendis deleniti delectus consectetur impedit veritatis possimus ipsum minus!</p>
  
              </div>
  
              <div class="col-sm-12 col-md-3">            
  
                  <h1>Libreria Bootstrap</h1>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis distinctio, asperiores, necessitatibus voluptatem illo omnis officiis doloremque aut fugiat animi tempore, perferendis deleniti delectus consectetur impedit veritatis possimus ipsum minus!</p>
  
              </div>
  
              <div class="col-sm-12 col-md-3">            
  
                  <h1>Libreria Bootstrap</h1>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis distinctio, asperiores, necessitatibus voluptatem illo omnis officiis doloremque aut fugiat animi tempore, perferendis deleniti delectus consectetur impedit veritatis possimus ipsum minus!</p>
  
              </div>
  
          </div> -->

          <!-- Fila 4 -->
          <!-- esta cuarta fila es para mostrar el tamaño extralargo -->
          <!-- siempre que utilizamos varios tamaños tenemos que estar pendiente de los tamaños que la suma final nos de 12 eso quiere decir que lo modifica todo -->

          <!-- <div class="row">
  
              <div class="col-sm-12 col-md-4 col-lg-6 col-xl-2">
  
                  <h1>Libreria Bootstrap</h1>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis distinctio, asperiores, necessitatibus voluptatem illo omnis officiis doloremque aut fugiat animi tempore, perferendis deleniti delectus consectetur impedit veritatis possimus ipsum minus!</p>
  
              </div>
  
              <div class="col-sm-12 col-md-3 col-xl-5">            
  
                  <h1>Libreria Bootstrap</h1>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis distinctio, asperiores, necessitatibus voluptatem illo omnis officiis doloremque aut fugiat animi tempore, perferendis deleniti delectus consectetur impedit veritatis possimus ipsum minus!</p>
  
              </div>
  
              <div class="col-sm-12 col-md-3 col-xl-5">            
  
                  <h1>Libreria Bootstrap</h1>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis distinctio, asperiores, necessitatibus voluptatem illo omnis officiis doloremque aut fugiat animi tempore, perferendis deleniti delectus consectetur impedit veritatis possimus ipsum minus!</p>
  
              </div>  -->
        </div>
      </div>
    </div>
  </div>
</div>
